body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #f0f0f0;
}

h1	{
	margin-bottom: 20px;
}

.tic {
	color: red;
}

.tac {
	color: blue;
}

.toe {
	color: yellow;
}

.papan {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: : repeat(3, 100px);
	gap: 10px;
}

.sel {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	background-color: #fff;
	border: 2px solid #333;
	cursor: pointer;
	transition: background-color 0.3s;
}

.sel:hover {
	background-color: #f0f0f0;
}

.sel.x::before {
	content: 'X';
	color: #ff0000;
	animation: muncul 0.3s;
}

.sel.o::before {
	content: 'O';
	color: #0000ff;
	animation: muncul 0,5s;
}

@keyframes muncul {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

.pesan-menang {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 20px;
	border-radius: 5px;
	animation: fadein 0.3s;
}

.pesan-menang.show {
	display: flex;
}


#tombolUlangi {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #57a6ff;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	background-color: #333;
	color: #fff;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #555;
}